@font-face {
  font-family: lora;
  src: url(../fonts/lora.ttf);
  font-weight: normal;
}

@font-face {
  font-family: lora;
  src: url(../fonts/lora-bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: merriweather;
  src: url(../fonts/merriweather.ttf);
  font-weight: normal;
}

@font-face {
  font-family: merriweather;
  src: url(../fonts/merriweather-bold.ttf);
  font-weight: 700;
}

body {
  margin: 0;
  background: url(../img/pattern.png) repeat #fbfaf8;
	width: 100%;
	min-width: 320px;
}

.social-network {
	display: flex;
	justify-content: flex-end;
}

.social-network a {
	text-decoration: none;
	outline: none;
	margin-top: 20px;
	margin-right: 20px;
}

.header-contacts .icon {
	fill: #F2BBD8;
}

.header-contacts .icon:hover {
	fill: #D35F9C;
}

.phone-wrapper {
	display: flex;
  justify-content: flex-end;
}

.header-contacts .phone {
	font-family: lora, serif;
	font-weight: bold;
	text-decoration: none;	
	color: #F2BBD8;
	margin-top: 10px;
	margin-right: 20px;
} 

.header-contacts .phone:hover {
	color: #D35F9C;
}

.logo-link {
	text-decoration: none;
}

.logo {
	position: absolute;
	z-index: 2;
	left: 50%;
	fill: #F2BBD8;
}

.list {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.list ul {
  list-style: none;
  text-align: center;
}

.list ul li:nth-child(2) {
	margin-right: 8%;
}

.list ul li:nth-child(3) {
	margin-left: 8%;
}

.list ul li {
  display: inline-block;
}

.list ul li a {
	display: flex;
	justify-content: space-evenly;
  padding: 15px;
  text-decoration: none;
  color: #F2BBD8;
	border-top: 1px dotted #F2BBD8;
	border-bottom: 1px dotted #F2BBD8;
  font-family: Merriweather, serif;
	font-weight: 700;
  text-transform: uppercase;
  margin: 0 10px;
	outline: none;
}

.list ul li a,
.list ul li a:after,
.list ul li a:before {
  transition: all .5s;
}

.list ul li a:hover {
  color: #D35F9C;
}

nav.list ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

nav.list ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}

nav.list ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #F8E8F0;
    border-radius: 100%;
  }
  100% {
    background: #F5D1E3;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

.breadcrumbs-wrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.breadcrumbs {
  padding: 15px;
  color: #F2BBD8;
  font-family: Merriweather, serif;
	font-weight: 700;
  margin: 0 10px;
}

.breadcrumbs a {
	text-decoration: none;	
  outline: none;
	color: #F2BBD8;
}
.breadcrumbs span {
	text-decoration: underline;
}


h1 {
	font-family: Lora, serif;
	font-weight: 700;
	text-align: center;
	color: #461B0D;
}

#thumbGalleryDetail {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

#thumbGalleryThumbs {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.owl-prev,.owl-next {
	position: absolute;
	top: 50%;
}

.owl-prev {
	background-image: url(../img/left-arrow.png);
	background-size: cover;
	background-color: #fff;
}

.owl-next {
	background-image: url(../img/right-arrow.png);
	background-size: cover;
	background-color: #fff;
}

.description {
	background-color: rgba(242, 187, 216, 0.5);
	padding-top: 30px;
	padding-bottom: 40px;
}

.d-icon {
	fill: #fff;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.description h2 {
	font-family: Lora, serif;
	font-weight: 700;
	text-align: center;
}

.description p {
	font-family: merriweather, serif;
	font-weight: normal;
	text-align: center;
}

.price p:nth-child(2n+1){
	margin-bottom: 0;
}
.price p:nth-child(2n){
	margin-top: 0;
}

.description .consist p {
	margin-bottom: 0;
	text-align: left;
}

.consist ul:first-of-type{
	margin-top: 0;
}

.description .decoration p {
	text-align: left;
}

.consist ul, .decoration ul {
	list-style-type: circle;
	padding-left: 0;
}

.consist p {
	text-decoration: underline;
}

.decoration ul {
	margin-top: 0;
}
.decoration p {
	margin-bottom: 0;
}


.comment-lena {
	font-family: Merriweather, serif;
	font-weight: normal;
}

blockquote {
	position: relative;
}

blockquote:before {
  display: block;
  font-family: Georgia, serif;
  font-style: italic;
	padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -55px;
  top: -20px;
  color: #461B0D;
}

.order {
	background-color: rgba(165,160,223,.5);
	text-align: center;
	font-family: lora, serif;
	font-weight: 700;
  color: #000;
}

.order a {
  display: inline-block;
	font-family: lora, serif;
	font-weight: 700;
  color: #461B0D;
  text-decoration: none;
  height: 32px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;

  outline: none;
  border: 1px solid #D35F9C;
  border-radius: 5px;
  background: #F2BBD8 linear-gradient(#F2BBD8, #D35F9C);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
.order a:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(242,187,216,.5);
}


.footer-contacts {
	display: flex;
	justify-content: space-evenly;
}

footer h2 {
	font-family: lora, serif;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

.footer-contacts .icon {
	fill: #fff;
	margin-right: 20px;
	
}

.footer-contacts a:hover svg {
	fill: #F2BBD8;;
}

.footer-contacts a {
	text-decoration: none;
	color: #fff;
	font-family: Lora, serif;
	font-weight: bold;
	display: flex;
	align-items: center;
	outline: none;
}

.footer-contacts a:hover {
	color: #F2BBD8;;
}



@media (max-width: 767px){

.list {
	display: none;
}

.header-contacts {
	position: relative;
}

.header-contacts .phone {
	margin-bottom: 20px;
}

.wrapper {
	box-sizing: border-box;
  width: 55px;
  background-color: #F2BBD8;
	border-radius: 10px;
	margin-left: 10px;
  position: absolute; 
	top: 20px;
  color: white;
  text-align: center;
  height: 40px;
	font-family: Merriweather, serif;
	font-size: 15px;
	font-weight: normal;
	z-index: 3;
}

#check-menu{
  display: none;
}

label{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
  line-height: 40px;
}

.burger-line{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: .5s all;
}

.second, .third{
  top: 18px;
}

.fourth{
  top: 28px;
}

.main-menu{
  display: block;
  position: absolute;
  width: 200px;
  bottom: 0px;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: .5s all;
}

.main-menu a{
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-top: 1px solid rgba(255,255,255,.3);
  background-color: #F2BBD8;
}

.main-menu a:hover{
  background-color: #D35F9C;
}

#check-menu:checked ~ .main-menu{
  max-height: 500px;
  font-size: 16px;
}

#check-menu:checked ~ .first{
  display: none;
}

#check-menu:checked ~ .second{
  transform: rotate(45deg);
}

#check-menu:checked ~ .third{
  transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth{
  display: none;
}

.header-contacts .phone {
	font-size: 12px;
}

.header-contacts .icon {
	width: 30px;
	height: 30px;
}

.logo {
	width: 100px;
	height: 95px;
	top: 30px;
	margin-left:-50px
}

.breadcrumbs-wrapper {
	width: 100%;
	margin-top: 20px;
}

.breadcrumbs {
	padding-left: 0;
	font-size: 15px;
}

h1 {
	font-size: 18px;
}

#thumbGalleryDetail .img-responsive {
	width: 245px;
	height: 245px;
}

#thumbGalleryThumbs {
	width: 100%;
}

#thumbGalleryThumbs .img-responsive {
	width: 50px;
	height: 50px;
}

.owl-prev,.owl-next {
	margin-top: -16px;
}

.owl-prev {
	width: 32px;
	height: 32px;
	left: 5px;
}

.owl-next {
	width: 32px;
	height: 32px;
	right: 5px;
}

.description {
	padding-left: 20%;
	padding-right: 20%;
}

.d-icon {
	width: 35px;
	height: 35px;
	margin-top: 20px;
}

.description h2 {
	font-size: 13px;
}

.description p, .description ul li {
	font-size: 12px;
}

.comment-lena {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.comment-lena img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 105px;
	height: 105px;
}
	
.comment-lena blockquote {
	margin-top: 20px;
	margin-bottom: 30px;
  font-size: 13px;
}

.order {
	font-size: 13px;
	padding-top: 30px;
	padding-bottom: 50px;
}



footer {
	background-image: url(../img/mousse-320.png);
	background-size: cover;
	margin-top: -23px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.footer-contacts .icon {
	width: 40px;
	height: 40px;
}

.footer-contacts p {
	display: none;
}
footer h2 {
	font-size: 18px;
}

}




@media (min-width: 768px) and (max-width: 1279px){
.wrapper {
	display: none;
}

.header-contacts .phone {
	font-size: 15px;
}

.header-contacts .icon {
	width: 30px;
	height: 30px;
}

.logo {
	width: 120px;
	height: 117px;
	margin-left:-60px
}

header .list a{
	font-size: 18px;
}

.breadcrumbs-wrapper {
	text-align: center;
	padding-right: calc(50% + 30px);
}

.breadcrumbs {
	font-size: 16px;
}

h1 {
	font-size: 25px;
}

#thumbGalleryDetail .img-responsive {
	width: 400px;
	height: 400px;
}

#thumbGalleryThumbs {
	width: 70%;
}

#thumbGalleryThumbs .img-responsive {
	width: 100px;
	height: 100px;
}

.owl-prev,.owl-next {
	margin-top: -17px;
}

.owl-prev {
	width: 34px;
	height: 34px;
	left: calc(50% - 284px);
}

.owl-next {
	width: 34px;
	height: 34px;
	right: calc(50% - 284px);
}

.description {
	display: flex;
	justify-content: space-between;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 60px;
}

.price, .consist, .decoration {
	width: 33.33%;
	margin-left: 15px;
	margin-right: 15px;
}

.d-icon {
	width: 40px;
	height: 40px;
}

.description h2 {
	font-size: 15px;
}

.description p, .description ul li {
	font-size: 13px;
}

.comment-lena {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.comment-lena blockquote { 
	font-size: 15px;
}
.comment-lena img {
	margin-left: 20px;
	width: 163px;
	height: 163px;
}

.order {
	font-size: 15px;
	padding-top: 30px;
	padding-bottom: 80px;
}

	


footer {
	background-image: url(../img/mousse-768.png);
	background-size: cover;
	margin-top: -35px;
	padding-top: 30px;
	padding-bottom: 50px;
}

.footer-contacts .icon {
	width: 40px;
	height: 40px;
}

footer h2 {
	font-size: 22px;
}

.footer-contacts a p {
	font-size: 15px;
}

}


@media (min-width: 1280px) {

.wrapper {
	display: none;
}

.header-contacts .phone {
	font-size: 18px;
} 

.header-contacts .icon {
	width: 40px;
	height: 40px;
}
	
.logo {
	width: 146px;
	height: 142px;
	margin-left:-73px
}

header .list a{
	font-size: 20px;
}

.breadcrumbs-wrapper {
padding-left: 23%;
}

.breadcrumbs {
	font-size: 18px;
}

h1 {
	font-size: 30px;
}

#thumbGalleryDetail .img-responsive {
	width: 500px;
	height: 500px;
}

#thumbGalleryThumbs {
	width: 70%;
}

#thumbGalleryThumbs .img-responsive {
	width: 100px;
	height: 100px;
}

.owl-prev,.owl-next {
	margin-top: -17px;
}

.owl-prev {
	width: 34px;
	height: 34px;
	left: calc(50% - 354px);
}

.owl-next {
	width: 34px;
	height: 34px;
	right: calc(50% - 354px);
}

.description {
	display: flex;
	justify-content: space-between;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 50px;
	padding-bottom: 80px;
}

.price, .consist, .decoration {
	width: 33.33%;
	margin-left: 15px;
	margin-right: 15px;
}

.d-icon {
	width: 50px;
	height: 50px;
}

.description h2 {
	font-size: 18px;
}

.description p, .description ul li {
	font-size: 16px;
}

.comment-lena {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 50px;
	padding-bottom: 80px;
}

.comment-lena blockquote { 
	font-size: 17px;
}

.comment-lena img {
	margin-left: 20px;
	width: 163px;
	height: 163px;
}

.order {
	font-size: 17px;
	padding-top: 30px;
	padding-bottom: 80px;
}


footer {
	background-image: url(../img/mousse-1280.png);
	background-size: cover;
	margin-top: -50px;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer h2 {
	font-size: 30px;
}

.footer-contacts a p {
	font-size: 20px;
}

.footer-contacts .icon {
	width: 50px;
	height: 50px;
}


}


